<?xml version="1.0" encoding="UTF-8"?>
<CapabilityStatement
    xmlns="http://hl7.org/fhir">
    <id value="server"/>
    <meta>
        <versionId value="2"/>
        <lastUpdated value="2019-05-20T22:18:02.000-04:00"/>
        <security>
            <system value="https://trifolia-fhir.lantanagroup.com/security"/>
            <code value="everyone^read"/>
        </security>
        <security>
            <system value="https://trifolia-fhir.lantanagroup.com/security"/>
            <code value="everyone^write"/>
        </security>
    </meta>
    <text>
        <status value="generated"/>
        <div
            xmlns="http://www.w3.org/1999/xhtml">
            <ul>
                <li>FHIR Version: 3.0.1</li>
                <li>Supported formats: xml, json</li>
                <li>Published: 2017-12-17</li>
                <li>Published by: HL7 PHER Workgroup</li>
            </ul>
            <!-- <p>...TODO... This Section will describes the expected capabilities etc....</p> -->
        </div>
    </text>
    <url value="http://hl7.org/fhir/us/ecr/CapabilityStatement/server"/>
    <name value="Server"/>
    <status value="draft"/>
    <date value="2018-08-01"/>
    <description value="This resource defines the expected capabilities "/>
    <kind value="requirements"/>
    <fhirVersion value="4.0.0"/>
    <format value="xml"/>
    <format value="json"/>
    <implementationGuide value="http://hl7.org/fhir/us/ecr/ImplementationGuide/ig"/>
    <rest>
        <mode value="server"/>
        <resource>
            <type value="Composition"/>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="read"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="update"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="delete"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="create"/>
            </interaction>
        </resource>
        <resource>
            <type value="Communication"/>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="read"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="update"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="delete"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="create"/>
            </interaction>
        </resource>
        <resource>
            <type value="Organization"/>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="read"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="update"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="create"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="delete"/>
            </interaction>
        </resource>
        <resource>
            <type value="Encounter"/>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="read"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="update"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="delete"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="create"/>
            </interaction>
        </resource>
        <resource>
            <type value="ServiceRequest"/>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="read"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="update"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="delete"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="create"/>
            </interaction>
        </resource>
        <resource>
            <type value="Location"/>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="read"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="update"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="delete"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="create"/>
            </interaction>
        </resource>
        <resource>
            <type value="Observation"/>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="read"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="update"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="delete"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="create"/>
            </interaction>
        </resource>
        <resource>
            <type value="StructureDefinition"/>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="read"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="update"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="delete"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="create"/>
            </interaction>
        </resource>
        <resource>
            <type value="PlanDefinition"/>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="read"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="update"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="delete"/>
            </interaction>
            <interaction>
                <extension url="http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation">
                    <valueCode value="SHOULD"/>
                </extension>
                <code value="create"/>
            </interaction>
        </resource>
    </rest>
    <document>
        <mode value="consumer"/>
    </document>
</CapabilityStatement>