<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li><a href="notice_to_ballot_commenters.html">Notice to Ballot Commenters</a></li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Transaction Profiles<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="electronic_initial_case_report_eicr_transaction_and_profiles.html">Electronic Initial Case Report (eICR) Transaction and Profiles</a></li>
      <li><a href="reportability_response_rr_transaction_and_profiles.html">Reportability Response (RR) Transaction and Profiles</a></li>
      <li><a href="electronic_reporting_and_surveillance_distribution_ersd_transaction_and_profiles.html">Electronic Reporting and Surveillance Distribution (eRSD) Transaction and Profiles</a></li>
      <li><a href="subscription_service.html">Subscription Service</a></li>
      <li><a href="transport_options.html">Transport Options</a></li>    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Implementation Guidance<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="design_considerations.html">Design Considerations</a></li>
      <li><a href="reportability_response_narrative_guidance.html">Reportability Response Narrative Guidance</a></li>
      <li><a href="ersd_jurisdictions_codesystem_query.html">eRSD Jurisdictions CodeSystem Query</a></li>
      <li><a href="ersd_jurisdictions_codesystem_configuration.html">eRSD Jurisdictions CodeSystem Configuration</a></li>
      <li><a href="rule_filter_generation.html">Rule Filter Generation</a></li>    </ul>
  </li>
  <li><a href="downloads.html">Downloads</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
</ul>
